<!DOCTYPE html>
   <head>
	   <title>Etch-A-Sketch Control</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
		<h2>Actuators</h2>
		<h3> Status </h3>
		     Direction ==>  {{ Direction  }}
		<br>
		<h3> Commands </h3>
			etch-a-sketch Ctrl ==> 
			<a href="/button/left" class="button">LEFT</a>  
			<a href="/button/up"class="button">UP</a>
			<a href="/button/right"class="button">RIGHT</a>
			<a href="/button/down"class="button">DOWN</a>
			<a href="/button/clear"class="button">CLEAR</a>
   </body>
</html>

